@model HotelBoeking

@{
}

<h2>Boeking</h2>

<form action="/HotelBoeking/Create" method="post">
    Aankomst: <input type="date" name="Aankomst" />
    Vertrek: <input type="date" name="Vertrek"/>
    <input type="submit" value="Boek"/>
</form>
